:root{
	--color-verde:#37b78a;
	--color-rojo:#c9486f;
	--color-azul:#215b6a;
	--color-naranja:#e3963c;
}
body{
	background: var(--bs-body-bg);
}

.navbar, footer{
	background-color: rgb(8, 43, 43);
}

.tooltips{
	& h5{
		color:white;
		font-size: 1.5em;
	}
}
.card-header{
	& h5{
		color:white;
	}
}

/* bg-colors */
.bg-verde{
	background: var(--color-verde) !important;
}
.bg-rojo{
	background: var(--color-rojo) !important;
}
.bg-azul{
	background: var(--color-azul) !important;
}
.bg-naranja{
	background: var(--color-naranja) !important;
}

/* noticias */
.noti-images{

	& img{
		aspect-ratio: 1/1;
		max-width:60%;
	}
}

/* footer  */
footer{
	color:#eee;
	& a{
		color:inherit;
	}
}